body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 300px;
}

h1 {
  font-size: 40px;
}

h2{
  font-size: 30px;
}

div {
  padding-top: 3px;
  padding-bottom: 3px;
  font: 16 px
}

a {
  color: #00B7FF;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 25px;
}

img {
  height: 260px;
  width: 280px;
}

#background {
  border-color: #C1C1C1;
}